@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;

    --font-mono: 'VT323', monospace;

    --color-font: #3f0;
    --color-second: #0f4f01;
    --bg-terminal: #001700;
    --bg-card: #1a1a1acc;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'VT323', monospace;
}

.cathodic_effect::after {
    background: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0px,
        rgba(0, 0, 0, 0.3) 1px,
        transparent 1px,
        transparent 2px
    );
}

.blink {
    animation: blink 2s step-end infinite;
}

.active_hbutton {
    background-color: var(--color-font);
    color: black;
}

@keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: var(--color-font);
    }
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-terminal);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-second);
    border-radius: 10px;
    height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-second);
    border-radius: 10px;
    height: 5px;
}